<strong><h1>Recuperação de senha</h1></strong>

<p>
  Uma solicitação de recuperação de senha, foi realizada para o email <strong>{{ email }}</strong>.
  Se você não foi o autor dessa requesição, seria legal trocar sua senha imediatamente
  para evitar possíveis problemas futuros.
</p>

<p>
  Para continuar com a recuperação de senha digite o token <h2><strong> {{ token }}</strong></h2> na tela de recuperação de senha no Aplicativo.
</p>


